div {
  margin-left: 50px;
  width: 200px;
  height: 200px;
  background-color: coral;
  animation-name: carre;
  animation-delay: 2s;
  animation-duration: 6s;
  animation-iteration-count: infinite;

}


@keyframes carre {
  0%  {
    border-radius:0 0 0 0;
    background:coral;
 
  }
  25%  {
    border-radius:10% 10% 10% 10%;
    background:darksalmon;
    
  }
  50%  {
    border-radius:25% 25% 25% 25%;
    background:green;
    
  }
  75%  { 
    border-radius:40% 40% 40% 40%;
    background:yellowgreen;
  }
  100% {  
    border-radius:50%;
    background:rgb(14, 46, 187);
  }
}
